/*  Mattia Sabino Caso
** 11017368
**
** Data-processing.
** Graph of the avarage rainfall of De Bilt in year 2015.
*/

.chart rect {
    fill: red;
}

.chart rect:hover {
    fill: brown;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 3px;
}