/*  Mattia Sabino Caso
** 11017368
**
** Data-processing.
** Graaf met 6 lijnen die de min, max en gemiddelde
** neerslag aangeven in de Bilt in de jaren 2012
** en 2013.
*/

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 40px;
    padding: 2px;
    font: 6px sans-serif;
    background: lightgreen;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}