/*  Mattia Sabino Caso
** 11017368
**
** Data-processing.
** Graaf met 6 lijnen die de min, max en gemiddelde
** neerslag aangeven in de Bilt in de jaren 2012
** en 2013.
*/

.content {
    max-width: 500px;
    display: block;
    margin: auto;
}

.land {
    max-width: 500px;
    display: block;
    margin: auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 150px;
    padding: 2px;
    font: 25px sans-serif;
    background: lightgreen;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}





#hoi {
    position: fixed;
    bottom: 0;
}
